.Modal {
  position: absolute;
  inset: 3% 4%;
  box-shadow: 0 0 10px var(--black);
  border-radius: 12px;
}

@media (min-width: 768px) {
  .Modal {
    inset: 10% 20%;
  }
}

@media (min-width: 1024px) {
  .Modal {
    inset: 12% 30% 3%;
  }
}
